body {
  background-color: bisque;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: coral;
  padding: 40px;
}

h2{
  text-align: center;
}

input , select, textarea {
  width:220px ;
  height:30px ;
  margin-bottom:5px ;
}